body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: rgb(214, 210, 210);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------------------------------------------------------- */

.header {
	font-size: 4em;
	font-family: 'Gloria Hallelujah', cursive;
}

/* ---------------------------------------------------------- */

.game-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10em;
	margin: 2em 0 1em;
}

/* ---------------------------------------------------------- */

.s1-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 20vw;
	height: 30vw;
	border: 2px solid black;
}

.s1-controls button {
	font-size: 1.2em;
	font-family: 'Gloria Hallelujah', cursive;
	width: 90%;
	background-color: rgb(204, 214, 57);
	box-shadow: 0 0 2px black, 0 0 4px rgb(204, 214, 57);
}

.s1-controls button:hover {
	cursor: pointer;
}

/* ---------------------------------------------------------- */

.s2-grid {
	width: 35em;
	height: 35em;
	border: 1px solid black;
	box-shadow: 0 0 10px black, 0 0 12px rgb(204, 214, 57);
}

.s2-grid td {
	box-sizing: border-box;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

/* ---------------------------------------------------------- */

.active {
	color: rgb(232, 233, 227);
	text-shadow: 0 0 10px black;
}

/* ---------------------------------------------------------- */

@media (max-width: 925px) {
	.game-container {
		flex-direction: column-reverse;
		gap: 1em;
	}
	.s1-controls {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 1em;
		padding: 1em;
		width: 80vw;
		height: 8vw;
		border: none;
	}
}
